/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, b, section {
  font-size: 100% !important;
  font: inherit;
}


::selection {background: #ededed;}
::-moz-selection {background: #ededed;}

body {
  font: 400 1em / 1.5em 'CourierPrime', monospace !important;
  color: #212121 !important;
  text-rendering: optimizeLegibility !important;
}

#spacerTop{
  height: 40px;
}

@media (max-width: 767px) {
  .bs-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }
}

/*UI Elements on Top*/
#topUI{
  top: 30px;
  position: fixed;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

#topUIToolBox{
  color: #686868;
  cursor: pointer;
}


#topUIHelp{
  color: #686868;
  /*float: right;
  margin-right: 20px;*/
  cursor: pointer;
  }

  #toolBox{
    margin-top: 20px;
    display: none;
  }

  #toolBox li{
    cursor: pointer;
  }



#textInput:focus {
  border: none;
  outline: none;
}

#textInput.blurred p:last-child:after {
  display: none;
}


/* Hide file pickers used to acces fs */
input[type="file"] {
  display: none !important;
  }
