/* Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, b, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100% !important;
  font: inherit;
  vertical-align: baseline;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


::selection {background: #ededed;}
::-moz-selection {background: #ededed;}

body {
  font: 400 1em / 1.5em 'CourierPrime', monospace !important;
  color: #212121 !important;
  text-rendering: optimizeLegibility !important;
}


/* All the elements will scale because their dimensions are declared in ems */
@media all and (max-width: 960px) and (min-width: 600px) {
  body {font-size: 1em}
}

@media all and (max-width: 2000px) and (min-width: 960px) {
  body {font-size: 1.1em}
}

/*UI Elements on Top*/
#topUI{
  top: 30px;
  position: fixed;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

#topUIToolBox{
  color: #686868;
  float: left;
  margin-left: 10px;
  cursor: pointer;
}


#topUIHelp{
  color: #686868;
  float: right;
  margin-right: 20px;
  cursor: pointer;
  }

  #toolBox{
    margin-top: 20px;
    display: none;
  }

  #toolBox li{
    cursor: pointer;
  }


/* Renders the text the user has typed */
#textInput {
  top: 40px;
  margin: 0 auto;
  padding: 2em 3em;
  max-width: 50em;
}

#textInput:focus {
  border: none;
  outline: none;
}


/* Fringe to make scrolling less hidden */
#textInput:after {
  width: 100%;
  height: 2em;
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
}

#textInput.blurred p:last-child:after {
  display: none;
}


/* Hide file pickers used to acces fs */
input[type="file"] {
  display: none !important;
  }
