<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br />
<br />
<br />
<br />
<b>
  Your Masterpiece Title
</b>
<br />
<br />
Written by
<br />
<br />
Your Name
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<span class="pull-left">
  Copyright © 2015 by Your Name
</span>
<span class="pull-right">
  Contact Information Line 1
</span>
<br />
<span class="pull-left">
  Registered, WGAw
</span>
<span class="pull-right">
  Contact Information Line 2
</span>
<br />
<span class="pull-right">
  Contact Information Line 3
</span>
<br />
<br />
<br />
<br />
<br />
<br />
